*{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.barra{
    background-color: #034964 !important;
        
}
a{
    color: #FFFFFF !important;
}
a:hover{
    background-color: #F5BB1D !important;
    border-radius: 5px;
}

.separator {
    display:flex;
    background-color: #F5BB1D;
    position: fixed;
    left: 0;
    top: 2.9em;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 12px;
  }
  