<div class="panel">
  <div class="bg-fondo">
    <div class="container">
      <div>
        <div class="row">
          <div class="row justify-content-md-center mt-lg-5 mb-lg-5">
            <div class="col text-center">
              <h1 style="color: #007CAB"><font size="10"><b>Comunicados para el personal</b></font></h1>
              <h1><font size="5"><b>Última actualización 12/12/2021 06:44 GTM</b></font></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="col col-md-4 p-3">
          <div class="rounded-circle">
            <div class="cont-blue" style="background-color: #007CAB" >
              Capacitación de empleados a las 2:25pm vía zoom
            </div>
            <div class="anuncio bg-white">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 p-3">
          <div class="rounded-circle">
            <div class="cont-blue" style="background-color: #007CAB" >
              Capacitación de empleados a las 2:25pm vía zoom
            </div>
            <div class="anuncio bg-white">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 p-3">
          <div class="rounded-circle">
            <div class="cont-blue" style="background-color: #007CAB" >
              Capacitación de empleados a las 2:25pm vía zoom
            </div>
            <div class="anuncio bg-white">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-5 pt-5 pb-5">
  <br/>
</div>
<div class="footer">
  <div class="row">
    <div>
      <div class="row" align="center" style="margin-top: 32px">
        <h1 style="color: white"><font size="4">© Copyright 2021 | G&S | Gestión y Sistemas | Todos los derechos reservados.</font></h1>
      </div>
    </div>
  </div>
</div>
