<div class="block-content">
  <div class="row" class="panel">
    <div id="bg" class="bg-fondo">
      <div style="margin-top: 100px" class="row" align="center">
        <h1 style="color: #007CAB"><font size="10"><b>Comunicados para el personal</b></font></h1>
        <h1><font size="5"><b>Última actualización 12/12/2021 06:44 GTM</b></font></h1>
      </div>
    </div>
  </div>
</div>

<div class="block-content">
  <div class="row">
    <div class="container">
      <div class="box">
        <div style="background: #007CAB" >
          <div class="cont-blue">
            Capacitación de empleados a las 2:25pm vía zoom
          </div>
        </div>
        <div class="anuncio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
        </div>
      </div>
      <div class="box">
        <div style="background: #007CAB">
          <div class="cont-blue">
            Despido masivo del personal por motivos de recorte de gastos
          </div>
        </div>
        <div class="anuncio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
        </div>
      </div>
      <div class="box">
        <div style="background: #007CAB;height: 100px">
          <div class="cont-blue">
            Familia hoy se come<br>
            Fiesta masiva esta noche Bv
          </div>
        </div>
        <div class="anuncio">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare, felis nec fringilla rhoncus, magna justo consectetur mi, ac placerat neque lectus a sem. Aenean cursus elementum dui, sit amet blandit leo laoreet vel. Praesent volutpat lorem a purus fringilla hendrerit. Nullam lobortis dictum enim, id tristique diam viverra quis. Pellentesque porttitor sed nisl vitae lobortis. Vestibulum nunc urna, malesuada ut venenatis eu, lobortis at eros. Nunc tincidunt et neque ut aliquam.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a href="">Ver más</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="block-content">
  <div class="row">
    <div style="margin-top: 791px" class="piepagina">
      <div class="row" align="center" style="margin-top: 32px">
        <h1 style="color: white"><font size="4">© Copyright 2021 | G&S | Gestión y Sistemas | Todos los derechos reservados.</font></h1>
      </div>
    </div>
  </div>
</div>
