.bg-fondo{
  background: url(./../../../assets/img/FondoHome.jpg) no-repeat center center;
  min-height: 30%;
  min-width: 100%;
  background-size:100%;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
}
.panel {
  background: white;
  min-height: 30%;
  min-width: 100%;
  background-size:100%;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
}
.piepagina {
  background: #034964;
  min-height: 10%;
  min-width: 100%;
  background-size:100%;
  height: auto;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}

body{
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  width: 1680px;
  height: 300px;
  margin: 285px auto;
  margin-left: 130px;
}
.container .box{
  position: relative;
  width: calc(500px - 30px);
  height: calc(450px - 30px);
  background: white;
  float: left;
  margin: 40px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
.testimonialText {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 150px;
  height: 309px;
  color: white;
  vertical-align: middle;
  text-align: center;
  padding: 1em 0 1em 0;
}
.cont-blue{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 1.8em;
  line-height: normal;
  height: 100px
}
.anuncio{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 7.5em 1em 1em 1em;
  font-size: 1.2em;
  line-height: normal;
  height: 100px
}
