<div class="px-5 py-5">

    <div class="row">
      <div class="col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="numero1">Numero 1</span>
          <input type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="numero2">Algo</span>
          <input type="text" class="form-control" />
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="numero1">Numero 1</span>
            <input type="text" class="form-control" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="numero2">Algo</span>
            <input type="text" class="form-control" />
          </div>
        </div>
      </div>
  <div class="row">
      <div class="col-lg-3 float-left">
        <div class="input-group mb-3">
            <span class="input-group-text" id="Algo">Algo</span>
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
      </div>
      <div class="col-lg-9 ">
          <button type="button" class="btn btn-primary">Buscar proyecto</button>
    </div>
  </div>
  
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Rol</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo empresarial</th>
          <th scope="col">Nombre del proyecto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Algo</td>
          <td>Algo</td>
          <td>Algo</td>
          <td>Algo</td>
          <td>Algo</td>
          <td>Algo</td>
          
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            
          </tr>
      </tbody>
    </table>
    <div class="row">
        <div class="col-lg-2">
            <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#AgregarProyecto"
      >
        Añadir un nuevo proyecto
      </button>
    </div>
      <div class="col-lg-7">
        <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#agrearEmpleadoProyecto"
      >
        Añadir empleados a un proyecto
      </button>
      </div> 
    </div>
    
  </div>


  <!-- Modal Añadir proyecto -->
  <div
  class="modal fade"
  id="AgregarProyecto"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="" style="font-size: 14px">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="Algo">Algo</span>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                  </div>
            </div>
            <div class="col-lg-2">
                <i class="bi bi-person-plus-fill"></i>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
<!-- Modal agregar empleado a proyecto -->
<div
  class="modal fade"
  id="agrearEmpleadoProyecto"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="" style="font-size: 14px">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
       
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <textarea class="form-control" ></textarea>
              </div>
        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>