<div class="px-5 py-5">
    <p>home works!</p>
    <!-- Button trigger modal -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="name">Nombre</span>
          <input [(ngModel)]="this.filtro.nombreCompleto" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="rol">Rol</span>
          <input [(ngModel)]="this.filtro.rol" type="text" class="form-control" />
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group mb-3">
          <span class="input-group-text" id="dni">DNI</span>
          <input [(ngModel)]="this.filtro.dni" type="text" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
          <div class="input-group mb-3">
            <span class="input-group-text" id="appat">Apellido paterno</span>
            <input [(ngModel)]="this.filtro.apellidoPaterno" type="text" class="form-control" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="input-group mb-3">
            <span class="input-group-text" id="apmat">Apellido materno</span>
            <input [(ngModel)]="this.filtro.apellidoMaterno" type="text" class="form-control" />
          </div>
        </div>
        <div class="col-lg-3">
          <div class="d-grid gap-2">
            <button (click)="buscarEmpleado()" type="button" name="" id="" class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </div>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Rol</th>
          <th scope="col">Telefono</th>
          <th scope="col">Correo empresarial</th>
          <th scope="col">Nombre del proyecto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaRegistros">
          <td>{{item.dni}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.rol}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.correoEmpresarial}}</td>
          <td>{{item.nombreProyecto}}</td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Registrar empleado
    </button>
  </div>


  <!-- Modal -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="" style="font-size: 14px">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
