#btn1{
  width: 70vw;
  height: 7vh;
  font-size: x-large;
  margin: 5vh;
  border: #025B7D;
  background-color: #025B7D;
  border-radius: 7px;
}
#consultar{
  width: 100%;
}
.piepagina {
  background: #034964;
  min-height: 10%;
  min-width: 100%;
  background-size:100%;
  height: auto;
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}
