<div class="px-5 py-5">
  <div align="center">
    <h1 style="font-weight: bold">Haga clic en las siguientes opciones para acceder a dichos reportes</h1>
    <button
      type="button"
      class="btn btn-primary"
      id="btn1"
      data-bs-toggle="modal"
      data-bs-target=""
    >
      Horas reportadas por línea de negocio
    </button>
    <button
      type="button"
      class="btn btn-primary"
      id="btn1"
      data-bs-toggle="modal"
      data-bs-target="#HRPP"
    >
      Horas reportadas por proyecto
    </button>
    <button
      type="button"
      class="btn btn-primary"
      id="btn1"
      data-bs-toggle="modal"
      data-bs-target="#HREP"
    >
      Horas reportadas de cada empleado por proyecto
    </button>
    <button
      type="button"
      class="btn btn-primary"
      id="btn1"
      data-bs-toggle="modal"
      data-bs-target=""
    >
      Horas planificadas vs Horas reportadas por proyecto
    </button>
  </div>
  <!-- Modal HORAS REPORTADAS POR PROYECTO-->
  <div class="modal fade" id="HRPP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="" style="font-size: 14px">Dashboard - Horas reportadas por proyecto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h2 align="center">Horas reportadas por proyecto</h2>
          <!--  <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
            </div>
          -->
          <div class="row">
            <div class="col-lg-5">
              <div class="input-group mb-3">
                <span class="input-group-text">Fecha Inicio</span>
                <input [(ngModel)]="this.rangFechas.fechaInicio" type="date" min="1990-01-01" max="2022-12-31" name="fechainicio">
              </div>
            </div>
            <div class="col-lg-5">
              <div class="input-group mb-3">
                <span class="input-group-text">Fecha Fin</span>
                <input [(ngModel)]="this.rangFechas.fechaFin" type="date" min="1990-01-01" max="2022-12-31" name="fechafin">
              </div>
            </div>
            <div class="col-2">
              <button
                (click)="obtenerRegsHorasXProyecto()"
                type="button"
                class="btn btn-secondary"
              >
                Consultar
              </button>
            </div>
          </div>
          <table class="table">
            <thead class="table-dark">
            <tr>
              <th scope="col">Proyecto</th>
              <th scope="col">Suma de horas</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of regsHP">
              <td>{{item.nombreProyecto}}</td>
              <td>{{item.sumaHoras}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal HORAS REPORTADAS EMPLEADO X PROYECTO-->
  <div class="modal fade" id="HREP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="" style="font-size: 14px">Dashboard - Horas registradas de empleado por proyecto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h2 align="center">Horas registradas de empleado por proyecto</h2>
          <!--  <div class="row">
              <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <input type="text" class="form-control" />
              </div>
            </div>
          -->
          <div class="row">
            <div class="col-lg-10">
              <div class="input-group mb-3">
                <span class="input-group-text" id="proyecto">Proyecto</span>
                <select [(ngModel)]="proyectoSeleccionado" class="form-select" id="inputGroupSelect01">
                  <option selected>Elija una opción...</option>
                  <option *ngFor="let item of listaProyectos" [ngValue]="item">{{item.nombreProyecto}}</option>
                </select>
              </div>
            </div>
            <div class="col-2">
              <button
                (click)="obtenerRegsEmpleadoXProyecto()"
                type="button"
                class="btn btn-secondary"
                id="consultar"
              >
                Consultar
              </button>
            </div>
          </div>
          <table class="table">
            <thead class="table-dark">
            <tr>
              <th scope="col">Empleado</th>
              <th scope="col">Tiempo de esfuerzo</th>
              <th scope="col">Proyecto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of listaRegistros">
              <td>{{item.empleado}}</td>
              <td>{{item.tiempoRequerido}}</td>
              <td>{{item.proyecto}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
