<div class="px-5 py-5">
  <div class="form-horizontal" style="margin-bottom: 1vw">
    <div class="form-group row">
      <div>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#reghoras"
            style="margin-right: 1vw"
          >
            Registrar Horas
          </button>
          <button *ngIf="this.cargoHere==3 || this.cargoHere==2"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#planact"
          >
            Planificar actividad
          </button>
      </div>
    </div>
  </div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre del proyecto</th>
        <th scope="col">Planificado</th>
        <th scope="col">Fecha Reportada</th>
        <th scope="col">Descripción del tarea</th>
        <th scope="col">Tiempo requerido</th>
      </tr>
    </thead>
    <tbody class="table-light">
    <tr *ngFor="let item of regsActividad">
      <td>{{item.nombreProyecto}}</td>
      <td *ngIf="item.planificado==1">Planificado</td>
      <td *ngIf="item.planificado==0">No planificado</td>
      <td>{{item.fechaIngresada}}</td>
      <td>{{item.descripcion}}</td>
      <td>{{item.tiempoRequerido}}</td>
    </tr>
    </tbody>
  </table>
</div>
<!--  Modal REGISTRAR HORAS -->
<div
  class="modal fade"
  id="reghoras"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 20px">
      <div class="modal-header" style="border-top-left-radius: 18px;border-top-right-radius: 17px; background: #007CAB;color: white">
        <p class="modal-title" style="font-size: 18px">Registrar Horas</p>
        <ul class="block-options">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </ul>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="project">Proyecto</span>
            <select class="form-select" (change)="obtenerActividades()" [(ngModel)]="this.parametrosInput.idProyecto">
              <option selected>Elija una opción...</option>
              <option
                *ngFor="let item of listaProyectos"
                [value]="item.idProyecto"
              >
                {{ item.nombreProyecto }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="activity">Actividad</span>
            <select class="form-select" [(ngModel)]="actividadSeleccionada">
              <option selected>Elija una opción...</option>
              <option
                *ngFor="let item of listaActividades"
                [ngValue]="item"
              >
                {{ item.descripcion }}
              </option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="Algo">Fecha</span>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="this.fechaIngresada"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="Algo">Tiempo requerido</span>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="this.tiempoRequerido"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <span class="input-group-text" id="Algo">Descripcion de la tarea</span>
            <textarea [disabled]="this.actividadSeleccionada.planificado==1"
              class="form-control"
              [(ngModel)]="this.actividadSeleccionada.descripcion"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button *ngIf="this.actividadSeleccionada.planificado==null || this.actividadSeleccionada.planificado==0"
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="registrarNoPlanificado()"
          >
            Registrar
          </button>
          <button *ngIf="this.actividadSeleccionada.planificado==1"
            type="button"
            class="btn btn-primary"
            (click)="actualizarActividad()"
          >
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--  Modal PLANIFICAR ACTIVIDAD -->
  <div
    class="modal fade"
    id="planact"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content" style="border-radius: 20px">
        <div class="modal-header" style="border-top-left-radius: 18px;border-top-right-radius: 17px; background: #007CAB;color: white">
          <p class="modal-title" style="font-size: 18px">
            Planificar actividad
          </p>
          <ul class="block-options">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="color:white"
            ></button>
          </ul>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text">Proyecto</span>
              <select
                (change)="obtenerColaboradores()"
                [(ngModel)]="proyecto"
                required
                class="form-select"
              >
                <option>Elija una opción...</option>
                <option *ngFor="let item of listaProyectos" [ngValue]="item">
                  {{ item.nombreProyecto }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text" id="activity">Colaborador</span>
              <select class="form-select" [(ngModel)]="this.dniEjecutor2">
                <option selected>Elija una opción...</option>
                <option *ngFor="let item of listaColaboradores" [value]="item.dni">
                  {{ item.nombreCompleto }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text" id="Algo"
                >Fecha de fin planificada</span
              >
              <input type="date" class="form-control" [(ngModel)]="this.fechaPlanificada2"/>
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text" id="Algo">Tiempo planificado</span>
              <input type="text" class="form-control" [(ngModel)]="this.tiempoPlanificado2"/>
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <span class="input-group-text" id="Algo">Descripción</span>
              <textarea class="form-control"  [(ngModel)]="this.descripcion2"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cerrar
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="registrarPlanificado()" > Registrar</button>
        </div>
      </div>
    </div>
  </div>

<div class="block-content">
  <div class="row">
    <div style="margin-top: 791px" class="piepagina">
      <div class="row" align="center" style="margin-top: 32px">
        <h1 style="color: white"><font size="4">© Copyright 2021 | G&S | Gestión y Sistemas | Todos los derechos reservados.</font></h1>
      </div>
    </div>
  </div>
</div>
