<div class="px-5 py-5"><button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    >
    Registrar Horas
    </button>
    <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Algo</th>
            <th scope="col">Algo</th>
            <th scope="col">Algo</th>
            <th scope="col">Algo</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
            <td>Algo</td>
          </tr>
          <tr>
              <td>Algo</td>
              <td>Algo</td>
              <td>Algo</td>
              <td>Algo</td>
            </tr>
        </tbody>
      </table>


</div>
<!--  MODAL -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="" style="font-size: 14px">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="project">Proyecto</span>
              <select class="form-select" [(ngModel)]="idProyecto">
                <option selected>Elija una opción...</option>
                <option *ngFor="let item of listaProyectos" [value]="item.idProyecto">{{item.nombreProyecto}}</option>
              </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="activity" >Actividad</span>
              <select class="form-select" [(ngModel)]="this.idActividad">
                <option selected>Elija una opción...</option>
                <option *ngFor="let item of listaActividades" [value]="item.idActividad" >{{item.descripcion}}</option>
              </select>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Fecha</span>
                <input type="text" class="form-control"  [(ngModel)]="this.fechaIngresada" />
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Tiempo requerido</span>
                <input type="text" class="form-control"  [(ngModel)]="this.tiempoRequerido"/>
              </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text" id="Algo">Algo</span>
                <textarea class="form-control" [(ngModel)]="this.descripcion"></textarea>
              </div>
        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="registrarNoPlanificado()">Save changes</button>
      </div>
    </div>
  </div>
</div>
